<br>
<br>
<br>
<form action="/agregar" method="post">
    <div class="form-group">
      <label >Nombre</label>
      <input type="text" class="form-control" id="nombre" name="nombre" placeholder="Nombre">
      <input type="hidden" class="form-control" id="id" name="id" placeholder="Nombre">
    </div>
    <div class="form-group">
      <label >desarrolladora</label>
      <input type="text" class="form-control" id="desarrolladora" name="desarrolladora" placeholder="Desarrolladora">
    </div>
    <div class="form-group">
        <label >Precio</label>
        <input type="text" class="form-control" id="precio" name="precio" placeholder="Precio">
      </div>
      <div class="form-group">
        <label >Descuento</label>
        <input type="text" class="form-control" id="descuento" name="descuento" placeholder="Descuento">
      </div>
      <div class="form-group">
        <label >Imagen</label>
        <textarea class="form-control" id="imagen" name="imagen" placeholder="Imagen(link)"></textarea>
      </div>

    <button type="submit" class="btn btn-primary">Agregar</button>
  </form>